html,body{  
    height: 100%;
}
#wrapper{
    height: 100%;
}
#page-wrapper{
    min-height: 100%;
}
.fc-time span {
    font-size: 1.2em;
}
.fc-title {
    font-size: 1.1em;
    font-weight: bold;
}
.fc-title ul, .popover-content ul {
    list-style: none;
    margin: 10px;
    padding: 0;
}
div.fc-slats td.fc-widget-content { 
    height: 40px; 
}
.control-label.required:after, label.required:after {
    content: url("/img/dot_campo_obrigatorio.png");
    position: absolute;
    margin-left: 8px;
}
